
.body{
    height: 400px;
}

.main-section {
    /* border: 2px solid black; */
    position: relative;
    top: 100px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section input{
    background: #224957;
    width: 300px;
    padding: 5px 12px;
    margin-bottom: 20px;
    height: 42px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    color: #fff;

}
.main-section input::placeholder{
    letter-spacing: 0.7px;
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    
  }
    
  .main-section button {
    background: #2BD17E;
    width: 300px;
    color: #fff;
    height: 50px;
    border: 0;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }